.App {
  text-align: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #ffefba, #ffffff);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: transform 0.2s; /* smooth transition for the transform property */
}

.App-logo:hover {
  transform: scale(1.1); /* slightly enlarge the logo on hover */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-bottom: 3px solid #61dafb;
}


.App-link {
  color: #61dafb;
  text-decoration: none; /* removes underline from links */
  transition: color 0.2s; /* smooth transition for the color property */
}

.App-link:hover {
  color: #fff; /* changes color on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
