/* General Background and Layout */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff; /* White background for a clean look */
  color: #333; /* Dark grey text for readability */
}

/* Header and Title Styling */
.App {
  text-align: center;
  padding: 2rem 0; /* Spacious padding at the top and bottom */
}

.app-title {
  font-size: 2.5rem; /* Large, bold title */
  color: #d32f2f; /* Modern red for emphasis */
  margin-bottom: 1rem; /* Space below the title */
}

/* Filter Form Styling */
.filters {
  justify-content: center;
  margin-bottom: 2rem; /* Extra space below filters */
}

.filters .form-label {
  font-weight: bold; /* Make labels bold */
  color: #d32f2f; /* Use theme color for labels */
}

.form-select,
.list-group-item {
  border-radius: 0.5rem; /* Rounded edges for a softer look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* List Styling */
.list-group-item {
  margin: 0.5rem 0; /* Space between list items */
  transition: transform 0.2s; /* Smooth transition for interaction */
}

.list-group-item:hover {
  transform: translateY(-5px); /* Slight raise effect on hover */
  background-color: #f8f9fa; /* Light background on hover for feedback */
}

.doctor-link {
  color: #d32f2f; /* Maintain theme color */
  font-weight: bold; /* Bold for importance */
}

.doctor-link:hover {
  color: #b71c1c; /* Darker shade on hover for interaction feedback */
  text-decoration: none; /* Remove underline on hover */
}

.home-link {
  text-decoration: none; /* Removes underline */
  color: #d32f2f; /* Sets the link color */
}

/* If you want the title color to change on hover */
.home-link:hover {
  color: #b71c1c;
}

/* App.css */
.app-logo {
  width: 300px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 1rem;
}

/* Since it's a link, you might want to remove the underline */
.home-link {
  text-decoration: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .filters .col-auto {
    width: 100%;
    max-width: none;
  }
}
